body{
    background-color: #71e7f7;
}
strong{
    color: rgb(255, 0, 0);
}
h1{
    align-items: center;
    /* left: 8px; */
    display: flex;
    flex-direction: column;
}
button {
    display: inline-block;
    background-color: #ff9800;
    border-radius: 41px;
    border: 4px double #cccccc;
    color: #eeeeee;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 25%;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    .contact_butt{
        display: inline-block;
        background-color: #ff9800;
        border-radius: 41px;
        border: 4px double #cccccc;
        color: #eeeeee;
        position: absolute;
        text-align: center;
        top: 40%;
        left: 18%;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    .contact_butt2{
        display: inline-block;
        background-color: #ff9800;
        border-radius: 41px;
        border: 4px double #cccccc;
        color: #eeeeee;
        position: absolute;
        text-align: center;
        top: 55%;
        left: 25%;
        font-size: 28px;
        padding: 20px;
        width: 153px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    .contact_butt3{
        display: inline-block;
        background-color: #ff9800;
        border-radius: 41px;
        border: 4px double #cccccc;
        color: #eeeeee;
        position: absolute;
        text-align: center;
        top: 70%;
        left: 25%;
        font-size: 28px;
        padding: 20px;
        width: 153px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
footer h1{
    position: absolute;
    bottom: 2%;
}
.logo2{
    position: absolute;
    bottom: 2%;
    height: 100px;
    width: 100px;
}